body
{

	background-image:url(../IMAGES/b5.jpg);
	background-repeat:no-repeat;
	background-position:center;
	position: relative;
	background-size:cover;
	background-attachment:fixed;
}
li
{
	text-align: center;
	display:inline;
	padding:7.2%;
}
.nav-hover li:hover
{
	color:#F7F9F9;
	font-size:150%;
}
nav
{
	opacity:0.5;
	background-color:#F8F9F9;
	padding-top:0.5%;
	padding-bottom:0.5%;
	margin-left: 2%;
	margin-right:1%;

}
.nav
{
	
	font-size:120%;
	font-family:bold;
}
h1
{
	color:#F7F9F9;
	text-decoration: underline;
	padding-top:2%;
	text-align: center;
	font-size:200%;
	
}

.logo-img
{
 position: center;
}
.li-color
{
	color:black
}
.p2
{
	color:#F7F9F9;
	text-align: center;
	font-size:175%;
}
#logo-img 
{
    height: 200px;
    border-radius: 35%;
    box-shadow: 100% 100% 100% rgba(0,0,0,0.5);
    width: 200px;
    margin-bottom: -64px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: white;
   text-align: center;
}
.col-container {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  padding: 16px;
  color:#283746;
}
.legend
{
	color:#F7F9F9;
}
.position-fs
{
	margin-right:25%; 
	margin-left:25%;
}
.position-1fs
{
	margin-right:15%; 
	margin-left:15%;
}
